body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin: 0 !important;
  padding: 0 !important;
}

button:hover {
  color: white !important;
  background: #38454c !important;
  box-shadow: 0px 0px 0px 2px #38454c !important;
  border-top-color: #38454c !important;
  border-left-color: #38454c !important;
  border-right-color: #38454c !important;
  border-bottom-color: #38454c !important;
}

#footer {
  color: white;
  font-size: 16px;
  max-width: 1140px;
  width: 100%;
  margin: auto;
}

a {
  color: #cccccc;
  text-decoration: none;
}

a:visited {
  color: #cccccc;
  text-decoration: none;
}

a:hover {
  color: white;
}

.wrapper {
  width: 100%;
  max-width: 1140px !important;
  margin: auto;
  padding: 4rem 1rem 0px 1rem;
}

#languageMenu:hover {
  color: white !important;
  background: #4eb4ca !important;
  box-shadow: 0px 0px 0px 2px #4eb4ca !important;
  border-top-color: #38454c !important;
  border-left-color: #38454c !important;
  border-right-color: #38454c !important;
  border-bottom-color: #38454c !important;
}
